﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:40px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:219px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:206px;
  width:391px;
  height:219px;
  display:flex;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:219px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:20px;
  width:391px;
  height:219px;
  display:flex;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:219px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:359px;
  width:391px;
  height:219px;
  display:flex;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:219px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:359px;
  width:392px;
  height:219px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:219px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:20px;
  width:391px;
  height:219px;
  display:flex;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:217px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:193px;
  width:388px;
  height:217px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:316px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u118_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-191px;
  width:10px;
  height:196px;
}
#u118_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-191px;
  width:61px;
  height:10px;
}
#u118_seg3 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-195px;
  width:19px;
  height:18px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-108px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:316px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-5px;
  width:10px;
  height:163px;
}
#u119_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:148px;
  width:61px;
  height:10px;
}
#u119_seg3 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:144px;
  width:19px;
  height:18px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:76px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:130px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:81px;
  height:10px;
}
#u120_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-9px;
  width:19px;
  height:18px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:469px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-9px;
  width:19px;
  height:18px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1374px;
  top:130px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:61px;
  height:10px;
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-5px;
  width:10px;
  height:182px;
}
#u122_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:167px;
  width:65px;
  height:10px;
}
#u122_seg3 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:163px;
  width:19px;
  height:18px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:80px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1389px;
  top:469px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-172px;
  width:10px;
  height:177px;
}
#u123_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-172px;
  width:65px;
  height:10px;
}
#u123_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-176px;
  width:19px;
  height:18px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-101px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
